.tarjeta {
    border: 2px solid #1C1522;;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1C1522;
    box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.3);
    transition: transform 0.2s;
    margin: 1em;
}

.tarjeta:hover {
    box-shadow: 0 0.4em 1.2em rgba(0,0,0,0.5);
}

.imagenContainer {
    position: relative;
    width: 35em;
    height: 15em;
    object-fit: contain;
    display: block;
}

.imagenPelicula {
    width: 100%;
    height: 100%;
}

.iconoVista {
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.iconoVista:hover {
    transform: scale(1.1);
}

.iconoVista img {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.datosTarjeta {
    align-items: left; 
    justify-content: left;
    text-align: left;
    gap: 0.5em;
    padding-left: 30%;
}
  


.tituloPelicula { /* titulo */
    color: white;
    font-size:1.5em;
    margin: 0;
    font-weight: bold;
    max-width: 20em;
    padding-left: 10%;
    padding-right: 10%;
}

.etiqueta { /* info */
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.inputEdicion {
    padding: 0.5em;
    font-size: large;
    border: 1px solid #2D5E5E;
    border-radius: 5px;
}

.inputEscondido {/* alineamiento hell, hay espacios que NO SE BORRAN de la caja de input*/
    border: none;
    background-color: transparent;
    outline: none;
    font-size: inherit;
}
  


.inputEscondido:hover{
    cursor: auto;
}

.selectEdicion {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

.radioGroup {
    display: flex;
    gap: 15px;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.primaryButton {
    background-color: #6200ea;
    color: white;
    border: none;
}

.secondaryButton {
    background-color: black;
    color: white;
    border: 1px solid #2D5E5E;
}

.tertiaryButton{
    background-color: darkred;
    color: white;
    border: none;
}


.confirmCard {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 9999;
}



.eliminar {
    background-color: #ff4444;
    color: white;
}

.mascara {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 9998;
}